*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
}


header{
    display: flex;
    justify-content:center;
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    
    
}
.mbl-nav{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 5px;
}
.logo{
    width:140px;
    cursor: pointer;
}

.nav__links{
    display:flex;
    gap:20px;
}

.nav__sign{
    padding: 10px;
   
    background-color: black;
    color: white;
    border-radius: 100px;
}
.nav__inr{
    padding: 10px;
    
   border:none;
    color: black;
    border-radius: 100px;
    margin-right:10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.section1-categories{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;   
}
.section2{
    display: flex;
    justify-content: center;
    width: 100%;
}
    

.search input:focus{
    outline: none;
}
.search{
   
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
.search input{
    width:100%;
    border: none;
    
}
.search button{
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 100px;
    border: none;
}

   
.tripai-image{
    background-image: linear-gradient(to right, rgb(235, 86, 248) , rgb(241, 197, 236));
    border-radius: 50px;
    height:500px;
    margin-top: 25px;
    position: relative;
    width: 75%;
    
}

.tripai-image img{
    height: 500px;
    width: 100%;
    
}
.tripai-image__inner{
    position: absolute;
    top:20%;
    left:10%;
    font-size: 20PX;
    width:300px;
    
}
.tripai-image button{
    padding:15px;
    border-radius: 50px;
    background-color: rgb(36, 17, 80);
    color: white;
    border: none;
    font-size: 20px;
    margin: 10px;
}

.section3{
    display: flex;
    width: 75%;
    flex-direction: column;
    
    
    
}
.head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
}

.product-carousl 
{
display:flex;
justify-content: space-between;
gap: 15px;  
overflow-x:auto;

}
.card{
margin:10px;
position: relative;

}
.card img{
    width:300px;
    height:300px;
    
    border-radius: 10px;
    
}
/* text overlay */
  .text-overlay {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
  }

  /* Optional styles for the text */
  .text-overlay p {
    margin: 0;
    font-size: 20px;
    font-weight: 1000;

    color:white;
  }
.fullcontainer{
    background-color: rgb(248, 227, 195);
    display: flex;
    width: 100%;
    justify-content: center;
}

footer {
    background-color: #FAF1ED;
    margin-top: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer{
    width:75%;
    
}
.footer1{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.footerbottom,.footbt1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footbt1{
    display: flex;
    align-items: center;
}
.scm{
    display: flex;
    gap: 20px;
}



@media screen and (max-width:950px){

    
nav{
    display: flex;
    justify-content: space-between;
    
    width: 90%;
    
}
.nav__links{
    display: none;

}
.nav__inr{
    display: none;
}
.heading{
    display: none;
}
.section1,.section2,.section3,.footer{
    width: 90%;
}

.section1-categories{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 10px;
    text-wrap: nowrap;   
}   


}

@media screen and (max-width:400px){
    .mbl-nav{
        display: block;
        display: flex;
    justify-content: space-between;
    
    width: 90%;
    padding: 5px;
    }
    .nav__links,.logo,.nav__button{
       display: none; 
    }
    .mbl-logo{
        width:100px;
        
    }
    .section1-categories{
        display: flex;
        
        text-wrap: nowrap;
        justify-content: flex-start;
        font-size: 10px;  
        overflow-x: auto; 
        width: 90%;
    }
}

